# ntp.conf: Managed by ansible

{% if not ntp_panic %}
# Keep ntpd from panicking in the event of a large clock skew
# when a VM guest is suspended and resumed.
tinker panic 0
{% endif %}
{% if ntp_disable_monitor %}
disable monitor
{% endif %}

{% if ntp_restrict|length != 0 %}
{% for item in ntp_restrict %}
restrict {{ item }}
{% endfor %}
{% endif %}

{% if ntp_peers|length != 0 %}
# peer servers
{% for item in ntp_peers %}
peer {{ item }}{{ ' iburst' if ntp_iburst_enable else ''}}
{% endfor %}
{% endif %}

{% if ntp_servers|length != 0 %}
# upstream time servers
{% for item in ntp_servers %}
server {{ item }}{{ ' iburst' if ntp_iburst_enable else ''}}
{% endfor %}
{% endif %}

{% if not (ansible_virtualization_type == "openvz" and ansible_virtualization_role == "guest") %}
# Undisciplined Local Clock. This is a fake driver intended for backup
# and when no outside source of synchronized time is available. 
server  127.127.1.0
fudge   127.127.1.0 stratum 10
restrict 127.127.1.0
{% endif %}

#Driftfile
driftfile {{ ntp_driftfile }}
